spring:
  mail:
    default-encoding: UTF-8
    host: "smtp.yandex.ru"
    port: 465
    username: "nrh9@yandex.ru"
    password: ${ya_pass}
    protocol: "smtps"
    properties.mail.smtp:
      auth: true
#      starttls.enable: true
      ssl.trust: "smtp.yandex.ru"
  h2:
    tcp:
      enabled: true
  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: sa
    password: pass
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    defer-datasource-initialization: true #включаем, чтобы сначала накатилась схема хибернейта, а потом пролились данные в H2

token:
  secret: StAEoZTA2JmETEKTmcMArV+jDcqy+ijyZDFjcMIlpF8JvxxNNOvSnU9Z+aZdvIuRvhuA7UrpanQF/lxHuHvoXg== # ключ для токена
  alg: HS512 # условный white-list для алгоритма шифрования

bot:
  token: ${bot_token}
  chat: -933719856
  baseUrl: https://api.telegram.org/bot${bot_token}/sendMessage
